div{
  background-color: black;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px;
  position: sticky;
}
input{
  background-color: black;
  border-color: yellow;
  margin-left: 10px;
  width: 200px;
  height: 20px;
  color: white;
}
